body {
	background-color: #f0f2f5;
  }
  
  .container {
	background-color: #fff;
	max-width: 500px;
	margin: 0 auto;
	padding: 40px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h3 { font-size: 20px;
	color: #1877f2;
	margin-top: 0;
	text-align: center;
  }
  
  form {
	display: flex;
	flex-direction: column;
  }
  
  label {
	margin-bottom: 10px;
  }
  
  input {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 20px;
  }
  
  .remember-me {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
  }
  
  button {
	font-weight: 500;
	padding: 10px;
	background-color: #1877f2;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .forgot-password {
	text-align: center;
	margin-top: 20px;
  }
  
  a {
	color: #1877f2;
	text-decoration: none;
  }
  
.new a{
	font-weight: 800;
	text-align: center;
	padding: 10px;
	background-color: #32B232;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.or fieldset,legend{
border-bottom: none;
border-left: none;
border-right: none;
}
.border{
	border: 1px solid gray;
	border-bottom:none ;
}